#sidebar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background: #666;
    z-index: 9999999;
    overflow-y: scroll;
    font-size: 9px;
}

#title {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

#header {
    background: #888;
    padding: 5px;
}

#title span:nth-child(1) {
    color: #eee;
}

#title span:nth-child(2) {
    color: #D1B672;
}

#title span:nth-child(3) {
    color: #78C55A;
}

#sidebar * {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#sidebar input[type="button"] {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 9px;
    line-height: 9px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #222;
    outline: 0;
    border-width: 1px;
    border-color: #222 #222 #000;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    background-image: linear-gradient(rgb(68, 68, 68), rgb(34, 34, 34));
    background-repeat: repeat-x;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
    margin: 0;
}

#sidebar input[type="button"]:hover {
    color: #fff;
    text-decoration: none;
    background-position: 0 -25px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}

#add_field {
    background-image: linear-gradient(rgb(0, 136, 204), rgb(0, 68, 204)) !important;
    background-color: rgb(0, 68, 204) !important;
    background-repeat: repeat-x;
}

#sidebar input[type="text"] {
    -webkit-box-shadow: rgba(255, 255, 255, 0.0980392) 0px 1px 0px 0px, rgba(0, 0, 0, 0.8) 0px 1px 7px 0px inset;
    background-color: rgba(0, 0, 0, 0.298039);
    border-bottom-color: rgb(250, 167, 50);
    border-radius: 2px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(250, 167, 50);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(250, 167, 50);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(250, 167, 50);
    border-top-style: none;
    border-top-width: 0px;
    box-shadow: rgba(255, 255, 255, 0.0980392) 0px 1px 0px 0px, rgba(0, 0, 0, 0.8) 0px 1px 7px 0px inset;
    color: rgb(250, 167, 50);
    cursor: auto;
    display: inline-block;
    font-size: 9px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 9px;
    margin-bottom: 3px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(250, 167, 50);
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    width: 121px;
}

#sidebar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#sidebar.left {
    right: auto;
    left: 0;
}

.fields {
    background: #aaa;
}

.fields > li {
    border-bottom: 1px solid #bbb;
    padding: 5px;
    margin: 1px 2px;
}

.delete, .select {
    margin-top: -1px !important;
    width: 36px;
    line-height: 8px !important;
    border-color: #777 !important;
}

.select {
    background-color: rgb(248, 148, 6) !important;
    background-image: linear-gradient(rgb(251, 180, 80), rgb(248, 148, 6)) !important;
}

.delete {
    background-color: rgb(189, 54, 47) !important;
    background-image: linear-gradient(rgb(238, 95, 91), rgb(189, 54, 47)) !important;
}

.results_header {
    display: block;
    margin: 3px 0;
    height: 10px;
    border: 1px #666 solid;
    border-radius: 2px;
    background: #999;
    color: #fff;
    padding: 2px;
}

.results_header a {
    font-weight: bold;
    color: rgb(250, 167, 50);
    text-align: right;
    cursor: pointer;
    text-decoration: underline;
}

.results > ul > li {
    background: #eee;
    margin: 2px;
    overflow: hidden;
}

.results > ul > li:hover {
    box-shadow: 2px 2px 7px #666;
}
